#my config file (not to be shared)
config_mine.py
#info about the procedure git
GITHUB_PUBLICATION.txt
#data structure info available on zenodo
README_data.md

# Data (large files - use Zenodo instead)
*.nc
*.hdf5
*.h5
/data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg



